@model List<APIConsumerMVC.DTO.DeptWithEmp>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Employees Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dept in Model)
        {
            <tr>
                <td>@dept.DeptName</td>
                <td>@dept.EmpCount</td>
                <td>
                    <a style="text-decoration: none; color:white; background-color:blueviolet; padding: 10px; border-radius: 5px; display:inline-grid; margin-top:5px;"
                       href="/Employee/Details/@dept.DeptId">
                        Details
                    </a>
                    <a href="/Department/Edit/@dept.DeptId" class="btn btn-warning">Edit</a>
                    <a href="/Department/Delete/@dept.DeptId" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a 
    style="text-decoration: none; color:white; background-color:blueviolet; padding: 10px; border-radius: 5px;" 
    href="/Department/New">Add New Dept
</a>